.header__lang-link-es {
    color: white; 
    text-decoration: none;
    font-size: 24px;
    line-height: 1.1;
}

.header__lang-link-es:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .header__lang-link-es {
        font-size: 18px;
    }   
}