.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter black';
    margin: 0;
    padding: 34px 48px 24px 48px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .page {
        padding: 34px 0 24px 0;
    }
}