.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 34px 0 24px 0;
}

@media screen and (max-width: 767px) {
    .page {
        padding: 20px 0 24px 0;
    }
}