@import url(./__item/photo-grid__item.css);

.photo-grid {
    max-width: 100%;
    margin: 0 auto 92px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px;
    }
}