@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__lang/header__lang.css);

.header {
    padding: 0 48px;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header {
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header {
        margin: 0 24px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .header {
        margin: 0 16px;
    }
}