@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__lang/header__lang.css);
.header {
    max-width: calc(1280px - (148px*2));
    padding: 0 148px;
    margin: 0 auto;
    max-height: 44px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header {
        padding: 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-height: 36px;
        padding: 0 16px;
    }
}