.lead__title {
    margin: 0 auto;
    max-width: 75%;
    font-size: 96px;
    line-height: 1.15;
    font-weight: 900;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .lead__title {
        max-width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        max-width: 95%;
    }
}