@font-face {
    src: url(./Inter-Desktop/Inter-V.ttf) format('truetype');
    font-family: 'Inter black';
}

@font-face {
    src: url(./Inter-Desktop/Inter-Black.otf);
    font-family: 'Inter black';
    font-weight: 400;
}

@font-face {
    src: url(./Inter-Desktop/Inter-BlackItalic.otf);
    font-family: 'Inter black';
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url(./Inter-Desktop/Inter-Bold.otf);
    font-family: 'Inter black';
    font-weight: bold;
}

@font-face {
    src: url(./Inter-Desktop/Inter-BoldItalic.otf);
    font-family: 'Inter black';
    font-weight: bold;
    font-style: italic;
}

@font-face {
    src: url(./Inter-Desktop/Inter-ExtraBold.otf);
    font-family: 'Inter black';
    font-weight: 800;
}

@font-face {
    src: url(./Inter-Desktop/Inter-ExtraBoldItalic.otf);
    font-family: 'Inter black';
    font-weight: 800;
    font-style: italic;
}

@font-face {
    src: url(./Inter-Desktop/Inter-ExtraLight.otf);
    font-family: "Inter black";
    font-weight: 200;
}

@font-face {
    src: url(./Inter-Desktop/Inter-ExtraLightItalic.otf);
    font-family: 'Inter black';
    font-weight: 200;
    font-style: italic;
}

@font-face {
    src: url(./Inter-Desktop/Inter-Italic.otf);
    font-family: 'Inter black';
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url(./Inter-Desktop/Inter-Light.otf);
    font-family: 'Inter black';
    font-weight: 300;
}

@font-face {
    src: url(./Inter-Desktop/Inter-LightItalic.otf);
    font-family: 'Inter black';
    font-weight: 300;
    font-style: italic;
}

@font-face {
    src: url(./Inter-Desktop/Inter-Medium.otf);
    font-family: 'Inter black';
    font-weight: 500;
}

@font-face {
    src: url(./Inter-Desktop/Inter-MediumItalic.otf);
    font-family: 'Inter black';
    font-weight: 500;
    font-style: italic;
}

@font-face {
    src: url(./Inter-Desktop/Inter-Regular.otf);
    font-family: 'Inter black';
    font-weight: 400;
}

@font-face {
    src: url(./Inter-Desktop/Inter-SemiBold.otf);
    font-family: 'Inter black';
    font-weight: 600;
}

@font-face {
    src: url(./Inter-Desktop/Inter-SemiBoldItalic.otf);
    font-family: 'Inter black';
    font-weight: 600;
    font-style: italic;
}

@font-face {
    src: url(./Inter-Desktop/Inter-Thin.otf);
    font-family: 'Inter black';
    font-weight: 100;
}

@font-face {
    src: url(./Inter-Desktop/Inter-ThinItalic.otf);
    font-family: 'Inter black';
    font-weight: 100;
    font-style: italic;
}