@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__text/intro__text.css);
@import url(./__span/intro__span.css);
@import url(./__list/intro__list.css);

.intro {
    max-width: 55%;
    margin-top: 92px;
    margin-bottom: 92px;
    margin-left: 10%;
    padding: 0;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .intro {
        margin-left: 0;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .intro {
        margin: 88px 24px;
        max-width: 100%;
    }
}