@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__link/cover__link.css);

.cover {
    position: relative;
    display: flex;
    justify-content: center;
    object-fit: cover;
    margin: 92px auto 92px auto;
    padding: 0;
}

.cover:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .cover {
        width: 100vw;
        margin-left: -48px;
    }
}