.states__paragraph {
    font-size: 18px;
    line-height: 1.7;
    padding: 0;
    margin: 0 0 25px 0;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .states__paragraph {
        line-height: 1.7;
        font-size: 16px;
    }
}