.cover__title {
    position: absolute;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.15;
    max-width: 656px;
    bottom: 45%;
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        bottom: 40%;
    }
}