.cover__title {
    text-align: center;
    align-self: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.15;
    z-index: 3;
    margin: 0 0 32px 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        margin: 0 0 16px 0;
    }
}