@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__list/footer__list.css);
.footer {
    max-width: calc(1280px - (48px*2));
    margin: 0 auto;
    padding: 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 0 16px;
        display: block;
    }
}