@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);

.footer {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
}