.states__title {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.15;
    margin: 0 0 48px 0;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .states__title {
        font-size: 42px;
    }
}

@media screen and (max-width: 767px) {
    .states__title {
        font-size: 32px;
        margin-left: 16px;
        margin-bottom: 32px;
    }
}